# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# macOS
.DS_Store

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
